@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;700&display=swap');    
body{
	    margin: 0px;
   font-family: Changa, sans-serif;
    background-color: white;
	background-image
    color: black;
	background-image: url("opacity.png");
}

.container {
    width: auto;
    margin: auto;
    max-width: 1366px;
         padding-left: 25px;
     padding-right: 25px;
 
 }
 ul {
    list-style: none ;
    padding: 15 ;
    margin: 85 ;
 }
 /* end global */
 
 
 /* start navbar */
     /* start dark mood*/
 .dark-mode {
   background-color: #00002e;
   color: white;
 }

.dark-mode .sticy { 
background-color: #289dd2;
}
 /* end dark mood */
 
 .navbar
 {
   background-color: #289dd2;
     
 }
 .navbar .brand {
    float: left
    
 }
 .navbar .links{
   display: inline;
   float: right;
 }
 .navbar .links li{
    display: inline-block;
    padding: 10px 15px 15px ;
 }
  .navbar .links li.active ,
 .navbar .links li hover{
    color: white;
 }
 .navbar ul{
   flex: 1;
   text-align: right;
 }
 nav ul li a{
   color:black;
   text-decoration: none;
 }
 nav ul li a:hover{
   color:white;
 }
 
 .clearfix {
 clear : both;
 }
/* end navbar */


/* ---------------sticy------------------------- */


.sticy{

    display: block;
    background-color: #00002e;
	display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 62px;
    font-size: larger;
    z-index: 9;
    word-spacing: 8px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff0ce;
}





/* ------------------------------------------txt--------------------------- */


.txt{
	
	display: flex;
    justify-content: center;
    background: #e5e5e5;
    display: inline-flex;
    margin-left: 250px;
    font-size: xx-large;
    border-radius: 18px;
    position: sticky;
    top: 0;
    margin-right: 279px;
    z-index: 9;
}


/* -------------------------------------------------------------------------- */

*{
    padding:0;
    }
   body{
         
      background-image: url(img/11.png);
      margin-top:40px;
      background-position:center;
     background-size:cover;
      }
  


/* ----------------------------------------start form------------------------------ */
     .regform{
            width:800px;
      background-color:rgb(0,0,0,0.6);
      margin:auto;
      color:#FFFFFF;
      padding:10px 0px 10px 0px;
      text-align:center;
      border-radius:15px 15px 0px 0px ;
      }  
    .main{
        background-color:rgb(0,0,0,0.5);
     width:800px;
     margin:auto;}
    
    form{
        padding:10px;
     
    } 
    
    #name{
         width:100%;
      height:100px;
      
      }  
    .name{
              margin-left:25px;
     margin-top:30px;
     width: 125px;
              color: white;
              font-size: 18px;
              font-weight: 700;}
  .firstname{
                     position: relative;
         left:200px;
         top:-37px;
         line-height: 40px;
         border-radius: 6px;
         padding: 0 22px;
         font-size: 16px;
         
         }
  .lastname{
               position: relative;
         left:417px;
         top:-80px;
         line-height: 40px;
         border-radius: 6px;
         padding: 0 22px;
         font-size: 16px;
         color:#555;       
                    }  
   .firstlabel{
              position:relative;
              color:#E5E5E5;    
        text-transform: capitalize;
     font-size: 14px;
     left:203px;
     top:-45px;
     }   
  .lastlabel{
              position:relative;
     color:#E5E5E5;
     text-transform:capitalize;
     font-size:14px;
     left:492px;
     top:-76px;
       } 
  .card-number{
             position:relative;
       left:200px;
       top:-37px;
       line-height: 40px;
       width:480px;
          border-radius: 6px;
       padding: 0 22px;
       font-size: 16px;
       color: #555;  }
   .email{
          position:relative;
    left:200px;
       top:-37px;
       line-height: 40px;
       width:480px;
          border-radius: 6px;
       padding: 0 22px;
       font-size: 16px;
       color: #555;  
      }     
   
     .Code{
           position:relative;
    left:200px;
       top:-37px;
       line-height: 40px;
       width:95px;
          border-radius: 6px;
       padding: 0 22px;
       font-size: 16px;
       color: #555;  
    }
   .number{
           position:relative;
    left:200px;
       top:-37px;
       line-height: 40px;
       width:255px;
          border-radius: 6px;
       padding: 0 22px;
       font-size: 16px;
       color: #555; 
       }
   .area-code{
              position:relative;
        color:#E5E5E5;
        text-transform:capitalize;
        font-size:16px;
        left:54px;
        top:-4px;
       }
   .phone-number{
                position:relative;
        color:#E5E5E5;
        text-transform:capitalize;
        font-size:16px;
        left:-100px;
        top:-2px;
       }
   .option{
           position:relative;
    left:200px;
       top:-37px;
       line-height: 40px;
       width:532px;
       height:40px;
          border-radius: 6px;
       padding: 0 22px;
       font-size: 16px;
       color: #555; 
       outline:none;
       overflow:hidden;
    }    
       .option option{
                   font-size:20px;
         }
     #coustomer{
                  margin-left:25px;
      color:white;
      font-size:18px;
      
        } 
       .radio{
           display:inline-block;
     padding-right:70px;
     font-size:25px;
     margin-left:25px;
     margin-top:15px;
     color:white;
     }
    .radio input{
                width:20px;
       height:20px;
       border-radius:50%;
       cursor:pointer;
       outline:none;
      } 
      .btnreg{
          background-color:#00002e;
       display:block;
       margin:20px 0px 0px 20px;
       text-align:center;
       border-radius:12px;
       border:2px solid #366473;
       padding:14px 110px;
       outline:none;
       color:white;
       cursor:pointer;
       transition:0.25px;
      } 
     .btnreg:hover{
                  background-color:#289dd2;
        }



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}