@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;700&display=swap');     

body{
	font-family: Changa, sans-serif;
    background: white;
    padding: 0;
    margin: 0;
	background-image: url("opacity.png");
}

.container1 {
   width: auto;
   margin: auto;
   max-width: 1366px;
   padding-left: 25px;
   padding-right: 25px;

}
ul {
   list-style: none ;
   padding: 15 ;
   margin: 85 ;
}
/* end global */

	/* start dark mood*/
  .dark-mode {
    background-color: #00002e;
    color: white;
  }

.dark-mode .container2 {
	background-color: #289dd2;
}
  /* end dark mood */
  
.ourlabs {
	color: white;

}
/* start navbar */

.navbar
{
  background-color: #289dd2;
    
}
.brand {
   float: left
   
}
.navbar .links{
  display: inline;
}
.navbar .links li{
   display: inline-block;
   padding: 10px 15px 15px ;
}
 .navbar .links li.active ,
.navbar .links li hover{
   color: white;
}
.navbar ul{
  flex: 1;
  text-align: right;
}
.navbar ul li a{
  color:black;
  text-decoration: none;
}

.navbar ul li a:hover{
  color:white;
}
/* end navbar */

.container2{
    width: 1000px;
    height: 700px;
    margin: 100px auto;
    background: #00002e;
    position: relative;
}
.dropdd{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 20px;
}
nav label{
  color: sandybrown;
  font-size: 22px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.button span{
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.button span.rotate{
  transform: rotate(-180deg);
}
nav ul{
  width: 80%;
  display: none;
	position:inherit;
}
[id^=btn]:checked + ul{
  display: block;
	  background: white;

}
nav .menu:before{
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: white;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
nav ul li{
  line-height: 50px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
nav ul li label{
  font-size: 18px;
}
nav ul li a{
  color: sandybrown;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
nav ul li a:hover,
nav ul li label:hover{
  color: rgb(4, 4, 32);
}
nav ul ul{
  position: static;
}
nav ul ul li{
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
nav ul ul li a{
  color: sandybrown;
  font-size: 17px;
}
nav ul li span{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
nav ul li span.rotate{
  transform: rotate(-180deg);
}
input{
  display: none;
}
.a{
  margin-top: 100px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.con1{
	margin: 19px;
}