@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500;700&display=swap');   

body {
	background-color: white;
	font-family: Changa, sans-serif;
margin: 0px;
	background-image: url("opacity.png");
}
.container {
   width: auto;
   margin: auto;
   max-width: 1366px;
	    padding-left: 25px;
    padding-right: 25px;

}
ul {
   list-style: none ;
   padding: 15 ;
   margin: 85 ;
}
/* end global */


/* start navbar */
	/* start dark mood*/
.dark-mode {
  background-color: #00002e;
  color: white;
}
/* end dark mood */

.navbar
{
  background-color: #289dd2;
    
}
.navbar .brand {
   float: left
   
}
.navbar .links{
  display: inline;
  float: right;
}
.navbar .links li{
   display: inline-block;
   padding: 10px 15px 15px ;
}
 .navbar .links li.active ,
.navbar .links li hover{
   color: white;
}
.navbar ul{
  flex: 1;
  text-align: right;
}
nav ul li a{
  color:black;
  text-decoration: none;
}
nav ul li a:hover{
  color:white;
}

.clearfix {
clear : both;
}

img {
        border-radius: 10%;
        display: inline-block;
        max-width: 98%;
        height: auto;
        width: 30%;
        margin: 1%;
    }

.h1 {
	font-family: Changa, sans-serif;
    margin: 1%;
    height: 420px;
    margin-left: 33%;
    margin-right: 4%;
    margin-top: -23%;
    margin-bottom: 8%;
}


.a{ 
	font-family: Changa, sans-serif;
    margin: 1%;
    width: 835px;
    height: 177px;
    margin-left: 35%;
    margin-right: 70%;
    margin-top: -31%;
    margin-bottom: 0%;
    
     } 
    
     .h2{
		 font-family: Changa, sans-serif;
        margin: 1%;
        height: 420px;
        margin-left: 33%;
        margin-right: 4%;
        margin-top: -18%;
        margin-bottom: 4%;
        font-size: 170%;
    }
    .b{ 
		font-family: Changa, sans-serif;
        margin: 1%;
        width: 835px;
        height: 177px;
        margin-left: 35%;
        margin-right: 70%;
        margin-top: -32%;
        margin-bottom: 0%;
        
         } 

        .h3{
			font-family: Changa, sans-serif;
            margin: 1%;
            height: 200px;
            margin-left: 33%;
            margin-right: 4%;
            margin-top: -17%;
            margin-bottom: 0%;
            font-size: 200%;
        }
        
        .c{
			font-family: Changa, sans-serif;
           margin: 1%;
           width:835px;
           height:177px;
           margin-left:35%;
           margin-right:70%;
           margin-top:-11%;
           margin-bottom:0%;
        }
        


        .h4{
			font-family: Changa, sans-serif;
            margin: 1%;
            width: 835px;
            height: 177px;
            margin-left: 35%;
            margin-right: 70%;
            margin-top: -15%;
            margin-bottom: 0%;
            font-size: 160%;
        }
        .d{
			font-family: Changa, sans-serif;
            margin: 1%;
            width: 835px;
            height: 177px;
            margin-left: 35%;
            margin-right: 70%;
            margin-top: -10%;
            margin-bottom: 7%;
        }
        .h5{
			font-family: Changa, sans-serif;
            margin: 1%;
            width: 835px;
            height: 177px;
            margin-left: 35%;
            margin-right: 70%;
            margin-top: -22%;
            margin-bottom: 0%;
            font-size: 250%;
        }

        .e{
			font-family: Changa, sans-serif;
            margin: 1%;
            width: 835px;
            height: 177px;
            margin-left: 35%;
            margin-right: 70%;
            margin-top: -10%;
            margin: bottom 0%;
        }
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}