	
pre{
	
	

	font-family: Changa, sans-serif;
    background-color: white;
    margin: 0px;
    background-image: url(opacity.png);
    /* margin-left: 720px; */
    margin-top: 239px;
    font-size: 71px;
    display: flex;
    justify-content: center;
	
}


